/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2{
    display:block;
    font-size: 2.5em;
    font-weight: bold;
}
.head{
    text-align: center;
    background-color:black;
    color: white;
    margin-top: 10px;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 5px;
    border-radius: 30px;
}
.photo{
    width: 100%;
    height: 100%;
}

/* main styling */
body{
    font-family: cursive;
    line-height: 1.8em;
}

a{
    color:#333;
    text-decoration: none;
}
h1,h2,h3{
    padding-bottom: 20px;
}
/* utility */
.container{
    max-width: 1100px;
    margin: auto;
    overflow: auto;
    padding: 0px 20px;
}
.text-primary{
    color: rgb(180, 16, 112) ;
}
.lead{
    font-size: 20px;
} 
.btn{
    display: inline-block;
    font-size: 18px;
    color: #fff;
    background:black;
    padding:10px 20px;
    border: none;
    cursor: pointer;
}
.btn:hover{
    background: #f8dbf3;
    color: black;
}
.btn-light{
    background:rgb(199, 126, 160);
    color:black;
}
.bg-dark{
    background: black;
    color: #fff;
}
.bg-light{
    background: #f4f4f4;
    color:black;
}
.bg-primary{
    background:rgb(228, 187, 206);
    color:black;
}
.clr{
    clear: both;
}
.l-heading{
    font-size: 40px;
}

/* Navbar */
#navbar{
    background-color:black;
    color: #fff;
    overflow: auto;
}
#navbar a{
    color: #fff;
}

#navbar h1{
    float: left;
    padding-top: 20px;
    
}
#navbar ul{
    float: right;
    list-style: none;
}

#navbar ul li{
    float: left;
}

#navbar li a{
    display: block;
    padding: 20px;
    text-align: center;
}
#navbar li a:hover{
    background-color: #444;
    color: #f7c08a;
}

/*showcase*/
#showcase{
    background: url('../img/Fashion6.jpg')no-repeat center center/cover;
    height: 600px;
}

#showcase .showcase-content{
    color: rgb(12, 15, 3);
    text-align: center;
    padding-top: 170px;
}
#showcase .showcase-content h1{
    font-size: 80px;
    line-height: 1.2em;
}
#showcase .showcase-content p{
    padding-bottom: 20px;
    line-height: 1.7em;
}
/* Home info */
#home-info{
    height: 400px;
}
#home-info .info-img{
    background: url('../img/Fashion5.jpg') no-repeat  center center/cover;
    min-height: 100%;
    width: 50%;
    float: left;
}
#home-info .info-content{
    width: 50%;
    float: right;
    height: 100%;
    padding: 50px 30px;
    overflow: hidden;
}
#home-info .info-content p{
    padding-bottom: 30px;
}

/* Feature */

.box{
    float: left;
    width: 33.3%;
    padding: 50px;
    text-align: center;
    min-height: 100%;
}
.box i{
    margin-bottom: 10px;
}

/* main-footer */
#main-footer{
    text-align: center;
    padding: 20px;
    background: black;
    color: #fff;
}
/* Contact */
#contact-form{
    margin: 20px 0;
}

#contact-form .form-group{
    margin: 10px;
}
#contact-form .form-group label{
display: block;
margin-bottom: 5px;
}
#contact-form .form-group input,
#contact-form .form-group textarea,
#contact-form .form-group select{
width: 100%;
padding: 10px;
border: 1px #ddd solid;
border-radius: 5px;
}

#contact-form .form-group textarea{
    height: 200px;
}

#contact-form .form-group select:focus,
#contact-form .form-group input:focus,
#contact-form .form-group textarea:focus{
    outline: none;
    border-color: #f7c08a;
}
/* About */
#about-info{
    padding: 30px 10px;
}
#about-info .info-left{
    width: 50%;
    float: left;
    min-height: 100%;
} 
#about-info .info-right{
    width: 50%;
    float:right;
    min-height: 100%;
}
#about-info .info-right img{
    display: block;
    width: 70%;
    margin: auto;
    border-radius: 50%;
    margin-bottom: 20px;
}
/* Feedback*/
#feedback{
    background: url('../img/background.jpg')no-repeat center center/cover;
    height: 550px;
    text-align: center;
    padding-top: 50px;
    color: black;
    position: relative;
    z-index:1;
}
#feedback .guest{
    height: 150px;
}
#feedback .guest{
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}
#feedback .guest img{
    width: 100px;
    float: left;
    margin-right:20px;
}


